* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header, main, footer {
    min-width: 320px;
    max-width: 640px;
    margin: auto;
    padding: 10px;
}

header {
    text-align: center;
    text-transform: uppercase;
}

header i {
    margin-right: 5px;
}

#livro-azul {
    color: #0284c7;
}

input[type=text] {
    width: 100%;
    margin-bottom: 5px;
    padding-left: 3px;
}

#alerta {
    display: none;
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    background-color: #dc2626;
    color: white;
    font-size: .8em;
    text-align: center;
}

input[type=submit] {
    width: 100%;
    margin: 10px 0;
    padding: 5px;
    border: none;
    border-radius: 10px;
    background-color: #0284c7;
    color: white;
}

input[type=submit]:active {
    background-color: #38bdf8;
}

table {
    width: 100%;
    margin-top: 25px;
    border-collapse: collapse;
    text-align: left;
}

th, tr, td {
    border: 1px solid #e5e7eb;
    font-size: .9em;
}

.remover-livro {
    padding: 0 4px;
    background-color: #dc2626;
    color: white;
    border: none;
    font-size: .9em;
}

.remover-livro:active {
    background-color: #ef4444;
}

#limpar {
    width: 100%;
    margin: 10px 0;
    padding: 5px;
    border: none;
    border-radius: 10px;
    background-color: #0284c7;
    color: white;
}

#limpar:active {
    background-color: #38bdf8;
}

footer {
    font-size: .7em;
}